- name: Base packages
  ansible.builtin.apt:
    update_cache: true
    name:
      - curl
      - ca-certificates
      - gnupg
      - jq
      - openssh-server
      - apt-transport-https
      - conntrack
      - socat
      - iptables
      - uidmap
    state: present

- name: Disable swap (required for Kubernetes)
  ansible.builtin.command: swapoff -a
  changed_when: false
  failed_when: false

- name: Remove swap from /etc/fstab
  ansible.builtin.replace:
    path: /etc/fstab
    regexp: '^([^#].*\sswap\s.*)$'
    replace: '# \1'

- name: Sysctl for Kubernetes networking
  ansible.builtin.copy:
    dest: /etc/sysctl.d/99-kubernetes.conf
    mode: "0644"
    content: |
      net.bridge.bridge-nf-call-iptables  = 1
      net.bridge.bridge-nf-call-ip6tables = 1
      net.ipv4.ip_forward                 = 1

- name: Apply sysctl
  ansible.builtin.command: sysctl --system
  changed_when: false

